@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// Import only what you need from Bulma
// importar todo
//@import "bulma/bulma.sass";

// trae initial y derived variables, functions y mixins no pisadas anteriormente
@import "bulma/sass/utilities/_all.sass";

// hace css-reset y aplica estilos bases a elementos html
@import "bulma/sass/base/_all.sass";

// el resto de los imports según necesidad
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/elements/container.sass";
//@import "bulma/sass/components/level.sass";

// https://bulma.io/documentation/columns/sizes/
@import "bulma/sass/grid/columns.sass";

@import "bulma/sass/form/_all.sass";

@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/icon.sass";

// para py-2 my-3 px-4 etc.
@import "bulma/sass/helpers/spacing.sass";
// para has-background-danger etc.
//@import "bulma/sass/helpers/color.sass";
